<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.dao.BlogMapper">
    <resultMap id="BlogForViewResultMap" type="blog.entity.BlogForView">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    </resultMap>
    <!--  Blog发布处理  -->
    <insert id="insertOneBlog" parameterType="Blog" >
        insert blog(user_code, title, content) values(#{userCode}, #{title}, #{content});
    </insert>
    <!--  联表查询博客  -->
    <select id="selectAllBlogsForView" resultMap="BlogForViewResultMap">
        select id,username,avatar_url,title,content,create_date
        from `user` natural join blog
    </select>
    <!--  Blog点赞处理  -->
    <insert id="insertOneLike" parameterType="BlogLike">
        insert blog_like(user_code, blog_id) values(#{userCode}, #{blogId});
    </insert>
    <delete id="deleteOneLike" parameterType="BlogLike">
        delete from blog_like where user_code = #{userCode} and blog_id = #{blogId};
    </delete>
</mapper>
